* {
    margin: 0;
    padding: 0;
  }
  section {
    /* margin-top: 1%; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    background-color: #4c5370;
    font-size: 20px;
  }
  .cards {
    /* width: 250px; */
    padding: 16px;
  }
  .cards:hover {
    box-shadow: 0 10px 10px 10px rbga(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .image_box img {
    width: 150px;
    height: 200px;
  }
  
  .image_box img {
    width: 150px;
    height: 200px;
  }
  .details p:nth-child(1) {
    font-weight: bold;
  }
  .details p:nth-child(2) {
    color: #ffffec;
    font-size: 15px;
  }
  .details p:nth-child(3) {
    font-weight: bolx;
    color: grey;
  }
  .details button {
    margin: 5px;
    padding: 5px 10px;
    /* border: none; */
    font-weight: bold;
    background-color: #e6f0f4;
    font-size: 18px;
    width: 20%;
    cursor: pointer;
    border-radius: 10px;
  }
  